body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: white;
  cursor: url( 'http://localhost:8000/kassie_circle.png' ) auto;
}

#darkness{
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: black;
  z-index: 100;
  cursor: url( 'http://localhost:8000/kassie_circle.png' ) auto;
}

.gradient {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 1) 70%);
  transform: translate(-50%, -50%);
  transition: background 1s ease;
  cursor: url( 'http://localhost:8000/kassie_circle.png' ) auto;
}

.red-circle {
  position: fixed;
  width: 10px; /* Size of the red circle */
  height: 10px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

#title {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;
  font-family: consolas;
  font-size: 60px;
}

#score {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 1000;
  font-family: consolas;
  font-size: 60px;
}

.button {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 1000;
  font-family: consolas;
  font-size: 60px;
}

#flashlight {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

/* reposition cursor to center */
 #flashlight {
  cursor: url( 'http://localhost:8000/kassie_circle.png' ) -200px -200px, auto;
}