body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: consolas;
  color: white;
  background: white;
}

#darkness{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: black;
  z-index: 101;
  position: fixed;
}

#batteryLife{
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: white;
  z-index: 1000;
  font-family: consolas;
  font-size: 60px;
  opacity: .8
}

.gradient {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 1) 70%);
  transform: translate(-50%, -50%);
  transition: background 1s ease;
  z-index: 102;
}

#speck {
  position: fixed;
  width: 10px; /* Size of the red circle */
  height: 10px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 103;
}

#title {
  position: fixed;
  top: 1%;
  left: 1%;
  color: white;
  z-index: 1000;
  font-size: 40px;
  width: 75%;
}

#score {
  position: fixed;
  top: 1%;
  right: 1%;
  color: white;
  z-index: 1000;
  font-size: 40px;
}

.button {
  color: white;
  background-color: transparent !important;
  z-index: 1000;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

.button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

#flashlight {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

#game{
 display: block;
 background: black;
  z-index: 100;
}

#instructions{
  display: none;
  padding: 1%;
  background: black;
  height: 100%;
  overflow-y: scroll;
}

#twitter{
  width: 20px;
  height: auto;
  vertical-align: middle;
}

#twitter-btn {
  padding: 2px 1px;
  position: fixed;
  bottom: 1%;
  left: 1%;
}

/* Styles for tablets */
@media screen and (max-width: 1024px) {
  #batteryLife, #title, #score {
    font-size: 30px
  }

  #speck {
    width: 8px; /* 2/3 of 10px */
    height: 8px;
  }

  .button {
    font-size: 13.33px; /* 2/3 of 20px */
  }
}

/* Styles for mobile */
@media screen and (max-width: 600px) {
  #batteryLife, #title, #score {
    font-size: 20px; /* 1/3 of 60px */
  }

  #twitter {
    width: 10px;
  }

  #speck {
    width:8px; /* 1/3 of 10px */
    height:8px;
  }

  .button {
    font-size: 10px
  }
}
